@import 'src/styles/colors.scss';
@import 'src/styles/default.scss';

.skills-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;

  .skills-block {
    width: 30%;
    background-color: $main-color;
    padding: 20px;
    animation-name: skill_section;
    animation-duration: 0.3s;
  }
}

.skill-progress {
  position: relative;
  color: $main-text-color;
  letter-spacing: 1px;
  height: 35px;
  margin-bottom: 25px;
  animation-name: skill_section;
  animation-duration: 1s;
}

.skill-progress > div {
  position: absolute;
}

.skill-progress-max,
.skill-progress-current {
  height: 5px;
  bottom: 0;
  left: 0;
}

.skill-progress-max {
  width: 100%;
  background-color: #e9e9e9;
}

.skill-progress-current {
  background-color: transparent;
}

.skill-progress-current-inner {
  background-color: $second-color;
  width: 100%;
  height: 100%;
  animation-name: skill_animation;
  animation-duration: 2s;
}

.skill-progress-title-percent {
  opacity: 0.4;
  font-size: 0.8em;
}

@media screen and (max-width: 768px) {
  .skills-wrap {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .skills-block {
      width: 48%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .skills-wrap {
    padding: 0 40px;
    .skills-block {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 360px) {
  .skills-wrap {
    padding: 0;
  }
}
